h1 {
  text-align: center;
}

body {
  background: #ffb347 url(paisley.png) top left repeat;
    
}
.paragraph {
    font-size: 24px;
}

img {
    width: 40%;
}

h2 {
    text-align: center;
}

#stephcurry {
    float: right;
}