body {
  background-image: url(http://i1.wp.com/www.psdgraphics.com/file/basketball-floor-texture.jpg);
}

h2 {
  padding: 10px;
}

.paragraph {
  font-size: 22px;
  font-family: Arial;
}

article > .quick-tips {
  text-align: center;  
}

#stephcurry {
  width: 35%;
  position: relative;
  float: right;
}

.two-balls {
  margin: 10px;
}

#Basic {
  text-align: center;
  margin: 3%;
}

#Advanced {
  text-align: center;
  margin: 3%;
}

h3 {
  text-align: center;
  margin: 5%;
}

.twoball {
  position: relative;
  width: 30%;
}


.body-container {
  margin: 0 auto;
  width: 80%;
}

nav li {
  display: inline;
}

nav {
  margin: 0 auto;
  text-align: center;
}

nav li a {
  text-decoration: none;
  color: #001EBA;
}

nav a:hover {
  text-decoration: underline;
  background-color: #FFD393;
}

.home {
  position: relative;
}

.center {
  margin: 0 auto;
}

.active {
  font-weight: 100;
}

p {
  text-align: justify;
  margin: 15px;
}

img {
  margin: 10px;
  width: 35%;
  clear: right;
}

.paragraph {
  margin: 4%;
}

iframe {
  display: inline;
  padding: 10px;
}

video {
  display: inline;
  padding: 10px;
}

h1 {
  border-bottom: 2px solid;
  margin: 15px;
  text-align: center;
}

.img-container {
  margin: 10px 30%;
}

@media screen and (max-width: 415px) {
    body {
        background-color: orange;
        font-size: 1.5em;
        width: 100%;
    }
}

.video-container {
  margin: 0 175px;
}

header {
  font-size: 22px;
}

li {
  font-family: arial;
  font-size: 24px;
}