body {
  background-image: url(http://i1.wp.com/www.psdgraphics.com/file/basketball-floor-texture.jpg);
}

h2 {
  padding: 10px;
}

.paragraph {
  font-size: 22px;
  font-family: Arial;
}

#stephcurry {
  width: 45%;
  position: relative;
  float: right;
}

#Basic {
  text-align: center;
  margin: 3%;
}

#Advanced {
  text-align: center;
  margin: 3%;
}

h3 {
  text-align: center;
  margin: 5%;
}

.twoball {
  position: relative;
  width: 35%;
}

.Contents {
  border: 3px solid;
  text-align: center;
}


.body-container {
  margin: 0 auto;
  width: 80%;
}

h1 {
  text-align: center;
}

nav li {
  display: inline;
}

nav {
  margin: 0 auto;
  text-align: center;
}

nav li a {
  text-decoration: none;
  color: darkblue;
}

nav a:hover {
  text-decoration: underline;
  color: orange;
}

a:hover{
  text-decoration: underline;
  color: orange;
}

.home {
  position: relative;
}

.center {
  margin: 0 auto;
}

.active {
  font-weight: 100;
}

th, td {
  border: 2px solid;
  text-align: center;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 50%;
}

p {
  text-align: justify;
  margin: 15px;
}

img {
  margin: 5%;
}

.paragraph {
  margin: 4%;
}

iframe {
  display: inline;
  padding: 10px;
}

video {
  display: inline;
  padding: 10px;
}

#video-h1 {
  border-bottom: 2px solid;
  margin: 15px;
}

img {
  margin: 0 auto;
}